body
{
    background: linear-gradient(37deg, rgb(56, 0, 77), rgb(37, 0, 51));
    color: #eee;
    font-family: 'Cloud', sans;
    font-size: 150%;
    margin: 0px;
    padding: 0px;
}

.calculator
{
    display: flex;
    justify-content: space-around;
    flex-flow:  row wrap;
    width: 100vw;
    height: 100vh;
}

.display
{
    width: 95vw;
    height: 127px;
    background: rgba(255,255,255,0.19);
    margin-top: 1vh;
    padding: 30px;
    text-align: right;
    line-height: 127px;
    font-size: 200%;
    box-sizing: border-box;
    align-self: center;
}

.pad
{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.numpad
{
    display: flex;
    flex-flow: row wrap;
    min-width: 30vw;
    max-width: 30vw;
    justify-content: center;
}

.operators
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.button
{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    background: rgba(255,255,255,0.1);
    text-align: center;
    line-height: 100px;
    margin: 20px;
    cursor: pointer;
    transition: background 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    font-size: 150%;
}

.button:hover
{
    background: rgba(255,255,255,0.17);
}

.button.span
{
    width: 100%;
}